body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.upgrade {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.423);
    width: calc(100vw - 240px);
    height: 50px;
}

main {
    overflow-y: auto;
    background-color: rgba(20, 25, 34, 1);
    height: calc(100vh - 80px);
    width: calc(100vw - 240px);
}

.navbarleft {
    background-color: black;
    height: calc(100vh - 80px);
    width: 240px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbarbottom {
    width: 100%;
    height: 80px;
    background-color: rgba(40, 40, 40, 1);
    display: flex;
    justify-content: space-between;
    column-gap: 3vw;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.navbarbottomfirst {
    display: flex;
    align-items: center;
    column-gap: 4vw;
}

.navbarbottomfirst .navbarbottomimg {
    width: 50px;
}

.navbarbottomfirst .navnavbarbottomimgcont {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.navbarbottomfirst .navbtmimgtext h2 {
    font-size: 14px;
    color: white;
    margin: 0px;
}

.navbarbottomfirst .navbtmimgtext p {
    font-size: 11px;
    margin: 0px;
    color: rgba(135, 135, 135, 1);
}

.navbarbottomfirst .navbarbottomimg img {
    width: 100%;
}

.navbottomicons {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navbarbottomfirst .navbottomicons button {
    background: none;
    border: none;
    color: white;
    padding: 0;
    font-size: 16px;
    color: rgba(135, 135, 135, 1);
}

.navbarbottomsecond {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerbtnscont {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.sidebtn , .playerbtn {
    border: none;
    padding: 0px;
    background: none;
    color: white;
}

.sidebtn {
    font-size: 16px;
}

.playerbtn {
    font-size: 33px;
    margin: 0px 2vw;
}

.timeline {
    display: flex;
    align-items: center;
    column-gap: 1vw;
    margin-top: 7px;
}

.timeline .time {
    margin: 0px;
    color: white;
    font-size: 11px;
    font-weight: 600;
}

.line {
    background-color: rgba(135, 135, 135, 1);
    width: 30vw;
    height: 4px;
    border-radius: 2px;
}

.navbarbottomthird {
    display: flex;
    align-items: center;
    column-gap: 1.5vw;
}

.volumeline {
    background-color: rgba(135, 135, 135, 1);
    width: 5vw;
    height: 4px;
    border-radius: 2px;
}

.navbtmleftbutton {
    border: none;
    padding: 0px;
    background: none;
    color: white;
    font-size: 16px;
}

.linecont {
    position: relative;
}

.secondline {
    position: absolute;
    top: 0;
    background-color: rgb(205, 205, 205);
    width: 10vw;
    height: 4px;
    border-radius: 2px;
}

.linepoint {
    display: none;
    position: absolute;
    top: -2px;
    left: 10vw;
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 7px 20px 7px 20px ;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 12px;
}

.logo {
    width: 140px;
    padding-left: 8px;
}

.smalllogo {
    display: none;
}

.sidevoices {
    color: rgba(135, 135, 135, 1);
    list-style: none;
    padding-left: 0px;
}

.sidevoices li {
    border-left: 3px solid black;
    margin-bottom: 2px;
    padding-left: 8px;
}

.sidevoices span {
    vertical-align: super;
    font-size: 15px;
    font-weight: 600;
}

.sidevoices img {
    width: 30px;
}

.sideplaylist h2 {
    color: white;
    padding-left: 11px;
    font-size: 15px;
}

.createplaylist {
    color: rgba(135, 135, 135, 1);
    margin-left: 11px;
    display: flex;
    align-items: center;
}

.createplaylist h3 {
    font-size: 14px;
    margin-left: 11px;
}

.plus {
    background-color: rgba(135, 135, 135, 1);
    color: black;
    font-size: 18px;
    padding: 7px;
    aspect-ratio: 1;
}

.plus i {
    display: block;
}

.listplaylist {
    padding-left: 0px;
}

.listplaylist li {
    list-style: none;
    padding-left: 11px;
    color: rgba(135, 135, 135, 1);
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.install {
    color: rgba(135, 135, 135, 1);
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding-left: 7px;
    border-bottom: 1px solid rgba(135, 135, 135, 1);
    padding-bottom: 6px;
}

.install img {
    display: block;
    width: 18px;
}

.profile {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 7px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-weight: 600;
}

.profile img {
    display: block;
    width: 18px;
    background-color: rgba(135, 135, 135, 1);
    clip-path: circle();
    padding: 1px;
}

/* Phone layout */

@media screen and (max-width : 552px) {
    
    .upgrade {
        width: calc(100vw - 60px);
    }

    .navbarleft {
        width: 60px;
    }

    main {
        width: calc(100vw - 60px);
    }

    .navbottomicons {
        flex-direction: column;
    }

    .navbarbottomfirst .navbarbottomimg {
        width: 30px;
    }

    .navbarbottom {
        padding: 0 5px;
    }

    .navbarbottomfirst .navbtmimgtext h2 {
        font-size: 10px;
    }

    .navbarbottomfirst .navbtmimgtext p {
        font-size: 7px;
    }

    .navbarbottomfirst .navbottomicons button {
        font-size: 11px;
    }

    .navbtmleftbutton {
        font-size: 11px;
    }

    .sidebtn {
        font-size: 14px;
    }

    .playerbtn {
        font-size: 25px;
    }

    .timeline .time {
        font-size: 7px;
    }
}